@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  font-family: 'Bebas Neue', cursive;
  /* Colores */
  --blanco: #fff;
  --color-primario: #333333;
  --color-secundario: #0044ff;
  --color-bg: #99e7ff;


  /* Rareza de objetos */
  --color-serie-idols: #00acac;
  --color-legendario: #e9c600;
  --color-epico: #7700ff;
  --color-raro: #00aeff;
  --color-poco-comun: #3acc00;
  --color-comun: #575757;
  
  --lgrad-serie-idols: linear-gradient(180deg, #81ffff, #00acac);
  --lgrad-legendario: linear-gradient(180deg, #ffe75e, #e9c600);
  --lgrad-epico: linear-gradient(180deg, #a95eff, #7700ff);
  --lgrad-raro: linear-gradient(180deg, #59caff, #00aeff);
  --lgrad-poco-comun: linear-gradient(180deg, #9fff79, #3acc00);
  --lgrad-comun: linear-gradient(180deg, #b8b8b8, #575757);
}

html, body {
  background: var(--blanco);
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

header.nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 50;
  padding: 0.5rem 0;
  background: var(--color-primario);
  color: var(--blanco);
}

section h2 {
  position: sticky;
  top: 88px;
  left: 0;
  z-index: 40;
  text-align: center;
  background-color: var(--color-secundario);
  color: var(--blanco);
  padding: 1rem;
}

ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  list-style: none;
}

ul li {
  background: #333;
  color: #fff;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-items: center;
  gap: 1rem;
  font-size: 1.2rem;
  text-align: center;
  border: #0000003a solid 1px;
  width: 200px;
  height: 350px;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 500ms;
}

ul li:hover {
  scale: 105%;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 500ms;
}

ul li:hover .iconImg {
  scale: 123.5%;
  transform: translateY(-30px);
  filter: drop-shadow(0px 0px 5px rgba(20, 20, 20, 0.25));
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 500ms;
}

ul li .iconImg {
  object-fit: cover;
  width: 200px;
  height: auto;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 500ms;
}

ul li .vbucksicon {
  object-fit: cover;
  width: 40px;
  height: auto;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 500ms;
}

ul li .price {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 0.5rem;
}

ul li.icon {
  border: var(--color-serie-idols) solid 3px;
  /* background: var(--lgrad-serie-idols); */
}

ul li.legendary {
  border: var(--color-legendario) solid 3px;
  /* background: var(--lgrad-legendario); */
}

ul li.epic {
  border: var(--color-epico) solid 3px;
  /* background: var(--lgrad-epico); */
}

ul li.rare {
  border: var(--color-raro) solid 3px;
  /* background: var(--lgrad-raro); */
}

ul li.uncommon {
  border: var(--color-poco-comun) solid 3px;
  /* background: var(--lgrad-poco-comun); */
}

ul li.icon:hover {
  background: var(--lgrad-serie-idols);
}

ul li.legendary:hover {
  background: var(--lgrad-legendario);
}

ul li.epic:hover {
  background: var(--lgrad-epico);
}

ul li.rare:hover {
  background: var(--lgrad-raro);
}

ul li.uncommon:hover {
  background: var(--lgrad-poco-comun);
}

@media screen and (min-width: 768px) {
  header.nav {
    flex-direction: row;
  }

  section h2 {
    top: 57px;
  }
}
