@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: 'Bebas Neue', sans-serif;
}

html {
  @apply bg-slate-950 text-white;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #1f2937;
}

::-webkit-scrollbar-thumb {
  background: #4b5563;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}

.bg-size {
  background-size: 60rem 60rem;
}

.gaminglegends {
  @apply bg-rose-500;
}

.idols {
  @apply bg-blue-500;
}

.legendary {
  @apply bg-yellow-500;
}

.epic {
  @apply bg-purple-500;
}

.rare {
  @apply bg-cyan-300;
}

.uncommon {
  @apply bg-lime-500;
}

.common {
  @apply bg-gray-500;
}

img.gaminglegends {
  background-image: url('assets/images/background_gaminglegends.jpg');
  background-size: cover;
  background-position: center;
  @apply bg-size;
}

img.idols {
  background-image: url('assets/images/background_idols.jpg');
  background-size: cover;
  background-position: center;
  @apply bg-size;
}

img.legendary {
  background-image: url('assets/images/background_legendary.jpg');
  background-size: cover;
  background-position: center;
  @apply bg-size;
}

img.epic {
  background-image: url('assets/images/background_epic.jpg');
  background-size: cover;
  background-position: center;
  @apply bg-size;
}

img.rare {
  background-image: url('assets/images/background_rare.jpg');
  background-size: cover;
  background-position: center;
  @apply bg-size;
}

img.uncommon {
  background-image: url('assets/images/background_uncommon.jpg');
  background-size: cover;
  background-position: center;
  @apply bg-size;
}

img.common {
  background-image: url('assets/images/background_common.jpg');
  background-size: cover;
  background-position: center;
  @apply bg-size;
}